body {
    font-family: "Montserrat", sans-serif;
}

ul {
    margin: 0;
    padding:0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding-bottom: 110px;
}

/*  HEADER */
.header .container {
    display: flex;
    justify-content: space-between;
}
.header {
    padding-top: 35px;
}
.header__logo {
    color: #FED136;
    font-family: "Bilbo Swash Caps", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 113.889%;
    letter-spacing: 1.3px;
}

.header__nav-list {
    color: #FED136;
    font-size: 14px;
    font-weight: 400;
    line-height: 292.857%;
    text-transform: uppercase;
    display: flex;
    gap: 50px;
}


/* MAIN */
/* services */
.services__section .container {
    margin-top: 92px;
}
.services__section__title {
    color: #222;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.services__section__list {
    display: flex;
    flex-basis: calc((100% - 3 * 30px) / 3);
}

.services__section__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.services__section__subtitle {
    color: #222;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height:416.667%;
    letter-spacing: -0.45px;
}

.services__section__text {
    color: #777;
    text-align: center;
    font-family: RobotoSlab;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35px;
}

/* contact */
.contact__section {
    margin-top: 119px;
    height: 679px;
    background: #222;
}

.contact__section__title {
    text-align: center;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding-top: 91px;
    padding-bottom: 116px;
}

.contact__section__form {
    width: 455px;
    height: 50px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #CCC;
}

.contact__section__label{
    display: flex;
    flex-direction: column;
}

.contact__section__form:nth-last-child() {
    flex-direction: row;
}

.contact__section__form-control {
    color: #BBB;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.35px;
    text-transform: uppercase;
}

.contact__section__btn {
    width: 242px;
    height: 68px;
    background:#FED136;

    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}